body {
  background: #303030;
  color: #f0f0f0;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: -1;
}
#logo {
  text-align: center;
  flex-direction: column;
}
#logo img {
  height: 120px;
}
#intro a {
  color: #81d9f2;
}
@media screen and (max-width: 700px) {
  .nav_button {
    width: 100% !important;
  }
}
