html,
body {
    margin: 0;
    padding: 0;
}
* {
    /* use Montserrat for numbers, Raleyway for everything else */
    font-family: 'Montserrat', 'Raleway', sans-serif;
}
body {
    color: #f0f0f0;
    background: #303030;
    position: relative;
}
.deep_field {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: -1;
}
main {
    box-sizing: border-box;
    width: 100%;
    padding: 100px 20px;
}
.row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo_row {
    height: 120px;
}
.logo_row img {
    height: 100%;
}
.title_row {
    font-size: 50px;
    letter-spacing: 5px;
}
.intro_row {
    max-width: 640px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.nav_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #f0f0f0;
    text-decoration: none;
    width: 80px;
    margin: 5px;
    padding: 10px 20px;
    font-weight: 500;
    transition: background 0.25s ease;
}
.nav_button:hover,
.nav_button:focus {
    background: rgba(255, 255, 255, 0.25);
}
.nav_button:after {
    content: '';
    position: absolute;
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    transition: opacity 0.25s ease, left 0.25s ease, right 0.25s ease;
}
.nav_button:hover:after,
.nav_button:focus:after {
    left: 50%;
    right: 50%;
    opacity: 0;
}
.nav_button[title]:before {
    font-size: 0.75em;
    box-sizing: border-box;
    content: attr(title);
    position: absolute;
    /* padding: 10px; */
    left: 0;
    top: calc(100% + 5px);
    opacity: 0;
    transition: opacity 0.25s ease;
    z-index: 2;
    pointer-events: none;
}
.nav_button[title]:hover:before,
.nav_button[title]:focus:before {
    opacity: 1;
}
a {
    color: #81E3FE;
    font-weight: 500;
}