.table_container {
  max-height: 75vh;
}
table {
  min-width: 420px;
  text-align: left;
}
th,
td:first-child {
  font-weight: 600;
}
th,
td {
  padding: 5px;
}
.topic {
  display: inline-block;
  margin: 8px 12px 0 0;
  white-space: nowrap;
  font-style: italic;
}