.table_container {
  max-height: 75vh;
}
table {
  min-width: 420px;
  text-align: left;
}
th,
td:first-child {
  font-weight: 600;
}
th,
td {
  padding: 5px;
}
td {
  border-bottom: solid 1px #e0e0e0;
}
