.table_container {
  max-height: 75vh;
}
table {
  min-width: 420px;
  text-align: left;
}
th,
td:first-child {
  font-weight: 600;
}
th,
td {
  padding: 5px;
}
.topic {
  display: inline-block;
  background-color: var(--light-gray);
  margin-bottom: 2px;
  padding: 0 4px;
  border-radius: 2px;
}

/* override bad altmetric popup css */
.altmetric-embed {
  border-radius: 0 !important;
}
.altmetric-popover-inner,
.altmetric-popover-content {
  background: #fafafa !important;
}
.altmetric_arrow {
  border-top-color: #fafafa !important;
}
.altmetric-popover-content > div > a {
  top: 15px !important;
  right: 15px !important;
}
.altmetric-popover-content > div > div:last-of-type {
  display: none !important;
}
