<html>
  <head>
    <title>Het.io - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- metatags - https://metatags.io/ -->
    <meta name="title" content="Het.io - {{ page.title }}" />
    <meta name="description" content="{{ page.description }}" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://het.io" />
    <meta property="og:title" content="Het.io - {{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="/share-thumbnail.png" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://het.io" />
    <meta property="twitter:title" content="Het.io - {{ page.title }}" />
    <meta property="twitter:description" content="{{ page.description }}" />
    <meta property="twitter:image" content="/share-thumbnail.png" />

    <!-- keywords -->
    <meta name="keywords" content="{{ page.keywords }}" />

    <!-- global styles -->
    <link href="/global.css" rel="stylesheet" />

    <!-- page styles -->
    <link href="page.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="/scripts.js"></script>
  </head>
  <body>
    {% include header.html %}
    <main>
      <section class="title_section">
        <div class="section">
          <h2>
            {{ page.title }}<i class="{{ page.icon }} fa-sm" data-right></i>
          </h2>
        </div>
      </section>
      {{ content }}
    </main>
    {% include footer.html %}

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['setCookieDomain', '*.het.io']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u = 'https://piwik.dhimmel.com/';
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <noscript
      ><p>
        <img
          src="https://piwik.dhimmel.com/matomo.php?idsite=3&amp;rec=1"
          style="border:0;"
          alt=""
        /></p
    ></noscript>
    <!-- End Matomo Code -->
  </body>
</html>
